<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Welcome {{ name }}</h1>

    {{ if role }}
    <p>Welcome Admin</p>
    <b>bloc 1</b>
    {{ else }}
    <p>Access denied</p>
    <b>bloc 2</b>
    {{ end }}

    <!-- Conditional on arrays -->
{{ if users }}
  <h2>Users exist!</h2>
  <!-- Loop through array of objects -->
{{ for user in users }}
  <p>User: {{ user.username }} ({{ user.password }})</p>
{{ endfor }}
{{ else }}
  <p>No users</p>
{{ end }}



<!-- Access nested properties -->
{{ for user in users }}
  <div>
    <strong>{{ user.username }}</strong>
    <span>Password: {{ user.password }}</span>
  </div>
{{ endfor }}
</body>
</html>