<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Create Client</title>
  <link rel="stylesheet" href="/static/css/client-styles.css">
</head>
<body>
  <header class="header">
    <h1>Create Client</h1>
</header>
<center>
{{ if save }}
<h3 style="color: green;">The client has been added successfully.</h3>
{{ end }}

{{ if failed }}
<h3 style="color: red;">Failed to add the client</h3>
{{ end }}
</center>
  <main>
    <form method="post" class="client-form">
      <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png" alt="Client Avatar" class="client-avatar center">
      <input type="text" placeholder="Name" required name="name">
      <input type="email" placeholder="Email" name="email">
      <input type="tel" placeholder="Phone" name="phone">
      <input type="text" placeholder="Company" name="company">
      <textarea placeholder="Notes" name="notes"></textarea>
      <div class="form-actions">
        <button type="submit" class="btn">Save</button>
        <a href="/clients/all" class="btn secondary">Cancel</a>
      </div>
    </form>
  </main>
  

</body>
</html>
