<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Client List</title>
  <link rel="stylesheet" href="/static/css/client-styles.css">
</head>
<body>
  <div style="padding: 10px; background-color: #f5f5f5; display: flex; justify-content: space-between; align-items: center;">
    <div>
      👋 Welcome, <strong>{{ firstname }} {{ lastname }}</strong>
    </div>
    <div>
      <a href="/user/logout" style="color: red; text-decoration: none; font-weight: bold;">🚪 Logout</a>
    </div>
  </div>
  <header class="header">
    <h1>Clients</h1>
    <a href="/clients/create" class="btn">➕ Add Client</a>
  </header>
  <center>
    {{ if updated }}
    <h3 style="color: green;">The client {{ clientUpdatedName }} has been updated successfully.</h3>
    {{ end }}

    {{ if ok-deletion }}
    <h3 style="color: green;">The client {{ del-name }} has been deleted !</h3>
    {{ end }}

    {{ if ko-deletion }}
    <h3 style="color: red;">Error while deleting the client with id = {{ del-id }}</h3>
    {{ end }}
  </center>
  <main>
    <div class="client-grid">

      {{ if clients }}
      {{ for client in clients }}
      <div class="client-card">
        <img src="/static/uploads{{ client.profile-image }}" alt="Client Image" class="client-avatar">
        <h2>{{ client.name }}</h2>
        <p>{{ client.email }}</p>
        <p>{{ client.phone }}</p>
        <div class="card-actions">
          <a href="/clients/details/{{ client.id }}" class="btn small">View</a>
          <a href="/clients/edit/{{ client.id }}" class="btn small">Edit</a>
          <button class="btn small danger" ><a href="/clients/delete/{{ client.id }}" style="text-decoration: none; color: white;">Delete</a></button>
        </div>
      </div>
      {{ endfor }}
      {{ else }}
      <center>
        <h2>No clients !</h2>
      </center>
      {{ end }}
      
      
    </div>
  </main>
</body>
</html>