<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Client List</title>
  <link rel="stylesheet" href="/static/css/client-styles.css">
</head>
<body>
  <header class="header">
    <h1>Clients</h1>
    <a href="/clients/create" class="btn">➕ Add Client</a>
  </header>
  <main>
    <div class="client-grid">

      {{ for client in clients }}
      <div class="client-card">
        <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png" alt="Client Image" class="client-avatar">
        <h2>{{ client.name }}</h2>
        <p>{{ client.email }}</p>
        <p>{{ client.phone }}</p>
        <div class="card-actions">
          <a href="/clients/details/{{ client.id }}" class="btn small">View</a>
          <a href="/clients/edit/{{ client.id }}" class="btn small">Edit</a>
          <button class="btn small danger" ><a href="/clients/delete/{{ client.id }}" style="text-decoration: none; color: white;">Delete</a></button>
        </div>
      </div>
      {{ endfor }}
      
    </div>
  </main>
</body>
</html>